<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Portal Administrador - Cadastro de notícias</title>
</head>
<body>
    <h1>Cadastro de notícias</h1>
    <form action="/cadNoticia" method="post">
        <label>Tipo de desastre:</label>
        <select name="desastre">
            <option value="Enchente">Enchente</option>
            <option value="Queimada">Queimada</option>
            <option value="Deslizamento">Deslizamento</option>
        </select><br>
        <label>Bairro afetado:</label>
        <select name="bairro">
            <% bairros.forEach(bairro => { %>
                <option value="<%= bairro %>"><%= bairro %></option>
            <% }) %>
        </select><br>
        <label>Descrição:</label><br>
        <textarea name="descricao" rows="8"></textarea><br>
        <input type="submit" value="Cadastrar notícia" id="botaoSubmit">
    </form>
</body>
</html>