<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Teste</title>
</head>
<body>
    <h1>DEFESA CIVIL - Cadastro para notificações de risco</h1>
    <div id="cadastro">
        <form action="/cadastro" method="post">
            <input type="text" name="nome" id="nome" placeholder="Primeiro nome"><br>
            <input type="email" name="email" id="email" placeholder="Endereço de e-mail"><br>
            <input type="text" name="cep" id="cep" placeholder="CEP (somente números)"><br><br>
            <input type="submit" value="Cadastrar">
        </form>
    </div>
</body>
</html>