<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>Descadastrar do sistema</title>
</head>
<body>
    <div id="header">
        <a href="/">Home</a>
        <a href="/noticias">Notícias</a>
        <a href="/contatos">Contatos</a>
        <a href="/abrigos">Abrigos</a>
        <a href="/update">Atualizar dados</a>
        <% if (!admin) { %>
            <a href="/admin">Login administrador</a>
        <% } else { %>
            <a href="/admin">Menu admin</a>
            <a href="/logout">Logout</a>
        <% } %>
    </div>
    <h1 class="h1">Descadastrar do sistema</h1>
    <form action="/unsubscribe" method="post">
        <div class="form-group">    
            <input class="form-control" type="email" name="email" id="email" placeholder="E-mail" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="senha" id="senha" placeholder="Senha" required>
        </div>
        <div class="form-group">
            <input class="btn btn-outline-danger" type="submit" value="Descadastrar">
        </div>
    </form>
</body>
</html>