<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Atualizar usuário</title>
</head>
<body>
    <div id="header">
        <a href="/">Home</a>
        <a href="/noticias">Notícias</a>
        <a href="/update">Atualizar dados</a>
        <% if (!admin) { %>
            <a href="/admin">Login administrador</a>
        <% } else { %>
            <a href="/admin">Menu admin</a>
            <a href="/logout">Logout</a>
        <% } %>
    </div>
    <h1>Atualizar usuário</h1>
    <form action="/update" method="post">
        <input type="text" name="nome" id="nome" placeholder="Nome" required><br>
        <input type="email" name="emailOld" id="emailOld" placeholder="E-mail antigo" required><br>
        <input type="email" name="emailNew" id="emailNew" placeholder="E-mail novo (opcional)"><br>
        <input type="text" name="cep" id="cep" placeholder="CEP" required><br>
        <input type="submit" value="Atualizar">
    </form>
</body>
</html>