body{
    background-color: #444444;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    align-items: center;
}

body > *{
    margin: 10px;
}

textarea {
    width: 70vw;
    resize: none;
    align-self: center;
    border-radius: 10px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

select {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.linkADM{
    border: solid 1px aliceblue;
    color:aliceblue
}

a {
    color: #ff5d5d;
}

a:visited {
    color: #ff5d5d;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}